/*Solutions background textures*/
/*Solutions icons*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  min-width: 320px; }

body {
  background-color: red; }

a,
a:active,
a:focus {
  border: none;
  outline: none; }

h1, h2, h3, h4 {
  padding-top: 2rem;
  padding-bottom: 1rem; }

input, input:focus, input:active,
button, button:focus, button:active,
textarea, textarea:focus, textarea:active {
  outline: none; }

h1, h2, h3, h4, h5, h6, a, p {
  margin: 0;
  padding: 0; }

#wrapper {
  position: relative; }
